:root{
    --blue: #2F80ED;
    --gray0: #F2F2F2;
    --gray1: #333333;
    --gray2: #4f4f4f;
    --gray3: #828282;
}
*{box-sizing: border-box;}
html, body{
    margin: 0; 
    padding: 0;
    min-height: 100%;
}
body{
    background-color: var(--gray0);
    padding: 2vw 10vw 0;
    font-family: 'Monserrat', sans-serif;
}
.global{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.global--left{
    width: calc((100vw - 20vw) - 70%);
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.global--right{
    width: calc((100vw - 20vw) - 30%);;
}
.card{
    background-color: white;
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0px 15px 15px -10px #4f4f4f54;
    border: none;
}
.card--info{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.card--info-img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.card--info-contact{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.card--info-contact-name{
    margin: 0;
    color: var(--gray2);
    font-size: 1.3em;
    font-weight: 600;
}
.card--info-contact-role{
    color: var(--gray3);
    font-weight: 500;
    font-size: 14px;
}
.card--info-contact-email{
    display: flex;
    color: var(--gray2);
    font-size: 0.85em;
    margin-bottom: 5px;
    font-weight: 500;
}
.card--info-contact-phone{
    display: flex;
    color: var(--gray2);
    font-size: 0.85em;
    font-weight: 500;
}
.material-icons{
    font-size: 18px;
    margin-right: 5px;
}
.card--info-bio{
    color: var(--gray3);
    font-size: 0.82em;
}
/*experience*/
.card--experience{
    display: flex;
    flex-direction: column;
}
.card--experience-title{
    color: var(--gray2);
    font-size: 18px;
    margin: 0 0 8px 0;
}
.card--experience-job{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.card--experience-job-img{
    height: auto;
    min-width: 64px;
    max-height: 64px;
    border-radius: 50px;
}
.card--experience-job-date{
    font-size: 14px;
    color: var(--gray3);
}
.card--experience-job-role{
    margin: 0;
    font-size: 16px;
    color: var(--gray1);
}
.card--experience-job-desc{
    font-size: 14px;
    color: var(--gray3);
}
/*hobbies*/
.card--hobby-title{
    color: var(--gray2);
    font-size: 18px;
    margin: 0 0 8px 0;
}
.card--hobby-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card--hobby-item-img{
    width: 100%;
    height: auto;
    max-height: 96px;
    object-fit: cover;
    border-radius: 15px;
}
.card--hobby-item-title{
    margin: 5px 0 0 0;
    color: var(--gray1);
    font-size: 16px;
}
.card--hobby-item-desc{
    margin: 0;
    font-size: 14px;
    color: var(--gray3);
}
/*skills*/
.skill{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.card--skill{
    width: 32%;
}
.card--skill-title{
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.card--skill-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    color: var(--gray2);
}
.card--skill-meter{
    background-color: #c4c4c4;
    height: 8px;
    border-radius: 50px;
}
.card--skill-meter-filler{
    border-radius: 50px;
    background-color: var(--blue);
    height: 8px;
    margin: 0;
}
/*Projects*/
.project{
    margin-top: 20px;
}
.card--project{
    color: var(--gray2);
}
.card--project-tags{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.project-tag{
    background-color: transparent;
    border: 1px solid var(--blue);
    padding: 3px 8px;
    border-radius: 12px;
    color: var(--blue);
    font-size: 14px;
}
.project-tag:hover{
    transition: background-color .5s;
    background-color: #2f81ed38;
    cursor: pointer;
}
.project-tag:active{
    color: white;
    background-color: var(--blue);
}